*{
    margin: 0;
    padding: 0;
}

#padded{
    background-color: gold;
    height: 25px;
    width: 150px;
    padding: 5px 10px 5px 10px;  /* top right bottom left */   
    /* Background Color is applied on padding as it consider the part of the element */
}

#paddes{
    background-color: rgb(250, 3, 3);
    height: 20px;
    width: 280px;
    padding: 10px;  /* It displays 10px padding on all 4 sides */
}

#margin_1{
    background-color: rgb(153, 207, 25);
    height: 25px;
    width: 150px;
    padding: 5px;
    margin: 10px 5px 25px 5px;  /* top right bottom left */
    /* Here also we can define margin by single value */
}

/* If 2 elements has different margin then distance between the element is bigger margin */
#margin_2{
    background-color: lightblue;
    height: 20px;
    width: 330px;
    padding: 5px;
    margin: 35px 5px 10px 5px;  /* Background doesnot affect it */
}

.border{
    padding: 5px;
    margin: 10px;
}

#border_1{
    height: 30px;
    width: 150px;
    background-color: chocolate;
    border: 2px solid black;  /* Make thick border around the element */
    border-radius: 26px;  /* It create the rounded radius */
    box-sizing: border-box;  /* Border and Padding are in specified height and width . It may change content size */
}

#border_2{
    height: 30px; 
    width: 300px;
    background-color: lightsalmon;
    border: 3px dashed red;
    border-radius: 3px 124px 3px 114px; /* topleftcorner toprightcorner bottomleftcorner bottomrightcorner */
    box-sizing: content-box; /* In this padding and border are added after height and width . Content size remain same */
}

#border_3{
    height: 30px;
    width: 270px;
    background-color: grey;
    border: 5px double rgb(4, 9, 149);
    border-radius: 70px 70px 1px 5px;
    box-sizing: content-box;  /* It is Default */
}